Repository AaronKim218/AaronKim218.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_stages: [commit]

default_install_hook_types: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Run Prettier
        entry: npx prettier --write
        language: node
        files: \.(js|jsx|ts|tsx|css|scss|html|json|md|svelte)$
        types: [file]

      - id: eslint
        name: Run ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx|svelte)$
        types: [file]

more setup stuff
  .github/workflows/cd.yml
  src/lib/components/Nav.svelte
  src/routes/+error.svelte
  src/routes/+page.svelte
  src/routes/resume/+page.svelte
  src/styles/global.css
  src/styles/theme.css
  svelte.config.js
Due: prettier, eslint

add cleanup workflow
  .github/workflows/cleanup.yml
Due: none

add delete cache job
  .github/workflows/cleanup.yml
Due: none

add delete deployments job
  .github/workflows/cleanup.yml
Due: none

remove on push from cleanup workflow
  .github/workflows/cleanup.yml
Due: none

fix cleanup workflow
  .github/workflows/cleanup.yml
Due: none

v1
  src/app.html
  src/lib/components/AnimatedNav.svelte
  src/lib/components/Footer.svelte
  src/lib/components/ProjectCard.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/other/+page.svelte
  src/routes/projects/+page.svelte
  src/routes/projects/begroovy/+page.svelte
  src/routes/projects/clichat/+page.svelte
  src/routes/projects/geotask/+page.svelte
  src/routes/projects/init/+page.svelte
  src/routes/projects/platnm/+page.svelte
  src/routes/projects/tubender/+page.svelte
  src/routes/projects/voxeti/+page.svelte
  src/routes/resume/+page.svelte
  src/styles/theme.css
  src/types.ts
  static/headshot_extra_cropped.jpg
  static/icecube.gif
  static/lebron.webp
  static/resume.pdf
Due: prettier, eslint

feat: navbar animation
  src/lib/components/AnimatedNav.svelte
  src/lib/components/Nav.svelte
  static/resume.pdf
Due: prettier, eslint

remove animation
  src/lib/components/AnimatedNav.svelte
  src/lib/components/Nav.svelte
  src/routes/+page.svelte
Due: prettier, eslint

feat: update projects page
  package-lock.json
  package.json
  src/lib/components/AnimatedNav.svelte
  src/lib/components/BackButton.svelte
  src/lib/components/Nav.svelte
  src/lib/components/ProjectCard.svelte
  src/routes/projects/+page.svelte
  src/routes/projects/begroovy/+page.svelte
  src/routes/projects/clichat/+page.svelte
  src/routes/projects/geotask/+page.svelte
  src/routes/projects/init/+page.svelte
  src/routes/projects/platnm/+page.svelte
  src/routes/projects/tubender/+page.svelte
  src/routes/projects/voxeti/+page.svelte
Due: prettier, eslint

feat: update projects page (#2)
  package-lock.json
  package.json
  src/lib/components/AnimatedNav.svelte
  src/lib/components/BackButton.svelte
  src/lib/components/Nav.svelte
  src/lib/components/ProjectCard.svelte
  src/routes/projects/+page.svelte
  src/routes/projects/begroovy/+page.svelte
  src/routes/projects/clichat/+page.svelte
  src/routes/projects/geotask/+page.svelte
  src/routes/projects/init/+page.svelte
  src/routes/projects/platnm/+page.svelte
  src/routes/projects/tubender/+page.svelte
  src/routes/projects/voxeti/+page.svelte
Due: prettier, eslint

first commit
  .github/workflows/cd.yml
  .gitignore
  README.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier, eslint

add tailwind
  package-lock.json
  package.json
  src/App.css
  src/index.css
  vite.config.ts
Due: prettier, eslint

add shadcn
  components.json
  package-lock.json
  package.json
  src/components/mode-toggle.tsx
  src/components/theme-provider.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/carousel.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/index.css
  src/lib/utils.ts
  tsconfig.app.json
  tsconfig.json
  vite.config.ts
Due: prettier, eslint

starting template
  eslint.config.js
  src/App.tsx
  src/components/mode-toggle.tsx
  src/components/theme-provider.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/carousel.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/lib/utils.ts
  src/main.tsx
  tsconfig.app.json
  vite.config.ts
Due: prettier, eslint

add music player
  package-lock.json
  package.json
  src/App.tsx
  src/components/MusicPlayer.tsx
  src/components/ui/slider.tsx
  src/pages/More.tsx
  src/pages/Portfolio.tsx
Due: prettier, eslint

use hash router for gh pages compatibility
  src/App.tsx
Due: prettier, eslint

add particles background
  package-lock.json
  package.json
  src/App.tsx
  src/components/Layout.tsx
  src/components/MusicPlayer.tsx
  src/pages/More.tsx
  src/pages/Portfolio.tsx
Due: prettier, eslint

fix deezer iframe
  src/pages/More.tsx
Due: prettier, eslint

add headshot and favicon
  index.html
  public/initials.png
  public/vite.svg
  src/assets/headshot.png
  src/assets/react.svg
  src/pages/Portfolio.tsx
Due: prettier, eslint

add relative position so content displays on top of bg
  README.md
  src/pages/Portfolio.tsx
Due: prettier, eslint

add icons and resume
  package-lock.json
  package.json
  public/resume.pdf
  src/components/TechBadge.tsx
  src/pages/Portfolio.tsx
Due: prettier, eslint

add tech badges
  package-lock.json
  package.json
  src/assets/Java.svg
  src/components/TechBadge.tsx
  src/pages/More.tsx
  src/pages/Portfolio.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: prettier, eslint

add cname
  .github/workflows/cd.yml
  public/CNAME
Due: none

add url to readme
  README.md
Due: prettier

add expo badge
  src/components/TechBadge.tsx
  src/pages/Portfolio.tsx
Due: prettier, eslint

content updates
  src/pages/Portfolio.tsx
Due: prettier, eslint

add supabase to tech badges
  src/components/Layout.tsx
  src/components/TechBadge.tsx
  src/pages/Portfolio.tsx
Due: prettier, eslint

update resume
  public/resume.pdf
  src/components/Layout.tsx
Due: prettier, eslint

content updates
  package-lock.json
  package.json
  public/resume.pdf
  src/App.tsx
  src/components/ui/separator.tsx
  src/pages/More.tsx
  src/pages/Portfolio.tsx
  src/pages/Random.tsx
Due: prettier, eslint

force scroll to top of random page
  public/resume.pdf
  src/pages/Random.tsx
Due: prettier, eslint

content update
  src/pages/Random.tsx
Due: prettier, eslint

add back button
  src/pages/Random.tsx
Due: prettier, eslint

update resume
  public/resume.pdf
Due: none

update generate titles
  src/pages/Portfolio.tsx
Due: prettier, eslint

update on repeat
  src/pages/Random.tsx
Due: prettier, eslint

update content
  src/pages/Random.tsx
Due: prettier, eslint

update content
  public/resume.pdf
  src/pages/Portfolio.tsx
  src/pages/Random.tsx
Due: prettier, eslint
